.app {
    overflow-x: hidden !important;
    padding: 25px;
}

.swiper-pagination-progressbar {
    background: #fff;
}

body {
    position: relative;
    width: 100%;
}

.swiper-slide {
    width: 210px;
}

button {
    background-color: rgb(209, 70, 0) !important;
    color: #fff !important;
}

.swiper {
    height: 310px;
}